name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
        env:
          INTEGRATION_TEST_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      # e2e-test depends on #98
      # https://github.com/int128/list-associated-pull-requests-action/pull/98
      - id: e2e-default
        name: Run int128/list-associated-pull-requests-action (default)
        uses: ./
        with:
          pull-request: 98
      - run: diff -u tests/e2e-snapshots/expected-default.md - <<< $actual
        env:
          actual: ${{ steps.e2e-default.outputs.body }}
      - run: jq . <<< $actual
        env:
          actual: ${{ steps.e2e-default.outputs.json }}

      - id: e2e-with-group
        name: Run int128/list-associated-pull-requests-action (group-by-paths)
        uses: ./
        with:
          pull-request: 98
          group-by-paths: |
            src
            # comment
            .github
      - run: diff -u tests/e2e-snapshots/expected-with-group.md - <<< $actual
        env:
          actual: ${{ steps.e2e-with-group.outputs.body }}
      - run: jq . <<< $actual
        env:
          actual: ${{ steps.e2e-with-group.outputs.json }}

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - run: pnpm graphql-codegen
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
