name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
        env:
          INTEGRATION_TEST_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  e2e-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      # e2e-test depends on #98
      # https://github.com/int128/list-associated-pull-requests-action/pull/98
      - id: e2e-default
        name: Run int128/list-associated-pull-requests-action (default)
        uses: ./
        with:
          pull-request: 98
      - run: diff -u tests/e2e-snapshots/expected-default.md - <<< $actual
        env:
          actual: ${{ steps.e2e-default.outputs.body }}
      - run: jq . <<< $actual
        env:
          actual: ${{ steps.e2e-default.outputs.json }}

      - id: e2e-with-group
        name: Run int128/list-associated-pull-requests-action (group-by-paths)
        uses: ./
        with:
          pull-request: 98
          group-by-paths: |
            src
            # comment
            .github
      - run: diff -u tests/e2e-snapshots/expected-with-group.md - <<< $actual
        env:
          actual: ${{ steps.e2e-with-group.outputs.body }}
      - run: jq . <<< $actual
        env:
          actual: ${{ steps.e2e-with-group.outputs.json }}

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - run: pnpm graphql-codegen
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0
