name: ts

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - run: yarn package

      # generate a release note since the major tag
      - if: github.event_name == 'pull_request'
        id: release-note
        uses: ./
        with:
          base: refs/tags/v0
          head: ${{ github.head_ref }}
      - if: github.event_name == 'pull_request'
        uses: int128/comment-action@v1
        with:
          post: |
            ## Release note
            ${{ steps.release-note.outputs.pull-request-list-markdown }}

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn format
      - run: yarn graphql-codegen
      - uses: int128/update-generated-files-action@v2
